@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #014c56;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.MainBox{
  background-color: #d2b1ea; 
  margin-top: 10px;
  width: 820px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height:750px;
  padding:30px;
  -webkit-box-shadow: 3px 3px 10px -1px #393838;
  -moz-box-shadow: 3px 3px 10px -1px #393838;
  box-shadow: 3px 3px 10px -1px #393838;
  border-radius: 2% 2% 2% 2% / 2% 2% 2% 2%;  
}

.header{
  position: fixed;
  top: 30px;
  color: aliceblue;
  font-weight: bolder;
  font-size: 30px;
}