@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

body {
  background-color: #014c56;
}

.MainBox{
  background-color: #d2b1ea; 
  margin-top: 10px;
  width: 820px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height:750px;
  padding:30px;
  -webkit-box-shadow: 3px 3px 10px -1px #393838;
  -moz-box-shadow: 3px 3px 10px -1px #393838;
  box-shadow: 3px 3px 10px -1px #393838;
  border-radius: 2% 2% 2% 2% / 2% 2% 2% 2%;  
}

.header{
  position: fixed;
  top: 30px;
  color: aliceblue;
  font-weight: bolder;
  font-size: 30px;
}

.mobile_ctrl{
  position: absolute;
  bottom: 100px;
  left: auto;
  right: auto;
}

.btn{
 width:110px;
 height:90px;
}